body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
  background: #6b0e6b;
  color: #fff;
}

.field {
  stroke: none;
  fill-opacity: 1.0;
}

.slope {
  stroke-width: 1;
}

.river {
  stroke-width: 2;
}

.coast {
  stroke-width: 4;
}

.border {
  stroke-width: 5;
  stroke-dasharray: 4,4;
  stroke-linecap: butt;
}

.river,
.slope,
.border {
  fill: none;
  stroke: black;
  stroke-linecap: round;
}

